<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.chinafocus.myui">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".global.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".SecondActivity"/>

        <activity android:name=".security.KeyStoreUsage" android:label="Security/KeyStore"
                  android:windowSoftInputMode="adjustPan">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.xfermode.Xfermodes">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".widget.paint.colorfilter.ColorFilterActivity"
            android:theme="@style/MyTranslucentStatus">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.paint.colorfilter.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.canvas.transform.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.canvas.split.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.canvas.demo.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.canvas.bezier.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.canvas.pathmeasure.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.SAMPLE_CODE" />-->
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".behavior.BehaviorActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.chinasvg.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.taobao.MainActivity"
                  android:theme="@style/MyTranslucentStatus">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.SAMPLE_CODE" />&ndash;&gt;-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".widget.taobao.SecondActivity"
                  android:theme="@style/SecondActivity"/>
        <activity android:name=".pay.PayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <!--<category android:name="android.intent.category.SAMPLE_CODE" />-->
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".widget.taobao.ThirdActivity"/>
    </application>

</manifest>